
.li{
    margin: 0;
    padding-left: 0;
    font-family: "Times New Roman", Times, serif;
}


h1 {
    text-align: center;
    font-family: serif;
    font-family: "Times New Roman", Times, serif;
}
h2 {
    text-align: center;
    font-family: serif;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

h3 {
    text-align: center;
    font-family: serif;
    font-family: "Times New Roman", Times, serif;
}

body {
    margin-left: 30px;
    padding:15;
    font-family: "Times New Roman", Times, serif;
}
p {
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Times New Roman", Times, serif;
}

.centered {
    margin: auto;
    display: block;
    text-align: center;
}
.map {
    stroke: black;
}

div.tooltip {

}
/* REMOVE .incident FILL CSS */
.hover {
    fill: yellow;
}
/* ADD CSS FOR #sliderContainer */
#sliderContainer {
    text-align: center;
    position: relative;
    top: 600px;
}
